.button-green {
    display: inline-block;
    background-color:   #181818;
    padding: 13px 25px;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    opacity: 0.97;
}
.button-green:hover{
  opacity: 1;
}
